%header 
	%h1{class: 'h2'} Customer Search 
=render partial: "pager", locals: { keywords: @keywords, page: @page }
%section{class: 'search-form'}
	=form_for :customers, method: :get do |f| 
		.input-group.input-group-lg 
			=label_tag :keywords, nil, class: 'sr-only'
			=text_field_tag :keywords, nil, placeholder: "First Name, Last Name, or Email Address", class: 'form-control'
			%span.input-group-btn
				=submit_tag 'Find Customers', class: 'btn btn-primary btn-lg'
%section.search-results 
	%header 
		%h1.h3 Results 
	%ol{class: "list-group"}
		- @customers.each do |customer|
			%li{class: "list-group-item clearfix"}
				%h3{class: 'pull-right'} 
					%small{class: 'text-uppercase' }
						Joined
					#{l customer.created_at.to_date}
				%h2{class: "h3"}
					=customer.first_name
					=customer.last_name
					%small=customer.username
				%h4=customer.email 
	=render partial: "pager", locals: {keywords: @keywords, page: @page }
				 
